apiVersion: v1
kind: Service
metadata:
  name: admin-portal-app-service
  # namespace: admin-portal
spec:
  type: LoadBalancer
  selector:
    pod: admin-portal-app
  ports:
  - protocol: TCP
    port: 3000
    targetPort: 3000
    # nodePort: 30000